@font-face {
  font-family: 'Circular Std';
  src: url(../fonts/CircularStd/CircularStd-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Circular Std';
  src: url(../fonts/CircularStd/CircularStd-Book.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

img {
  max-width: 100%;
  height: auto;
}

/* HELPERS */
.container-lg {
  max-width: 1810px;
}

.container-md {
  max-width: 1480px;
}

.container-sm {
  max-width: 1400px;
}

.section-title {
  color: #272D4E;
  font-size: 55px;
  font-family: 'Circular Std', sans-serif;
  font-weight: bold;
  line-height: 70px;
  text-align: center;
}

/* CUSTOM BUTTONS */
.btn-ink {
  color: #FFFFFF !important;
  font-weight: 400 !important;
  background-color: #7854F7;
  border: 0;
}

.btn-ink:hover {
  background-color: #6144cc;
}

.btn-ink:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgb(120 84 247 / 30%);
  -moz-box-shadow: 0 0 0 0.2rem rgb(120 84 247 / 30%);
  box-shadow: 0 0 0 0.2rem rgb(120 84 247 / 30%);
}

.btn-green {
  color: #FFFFFF !important;
  font-weight: 400 !important;
  background-color: #70C217;
  border: 0;
}

.btn-green:hover {
  background-color: #5a9c13;
}

.btn-green:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgb(112 194 23 / 40%);
  -moz-box-shadow: 0 0 0 0.2rem rgb(112 194 23 / 40%);
  box-shadow: 0 0 0 0.2rem rgb(112 194 23 / 40%);
}

.btn-link {
  color: #299EF3;
  font-size: 18px;
  font-weight: bold;
}

.btn-outline-white {
  color: #FFFFFF;
  font-weight: bold !important;
  background-color: transparent;
  letter-spacing: 0.5px;
  border: 2px solid #FFFFFF;
  padding: 20px 42px;
}

.btn-outline-white:hover {
  color: #5F37EF;
  background-color: #FFFFFF;
}

.btn-outline-white:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgb(254 254 254 / 40%);
  -moz-box-shadow: 0 0 0 0.2rem rgb(254 254 254 / 40%);
  box-shadow: 0 0 0 0.2rem rgb(254 254 254 / 40%);
}

/* HEADER */
.header {
  position: relative;
  height: 100vh;
  min-height: 820px;
  background: linear-gradient(#E5EFFF, #FFFFFF);
}

.header-bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.header-nav .nav-link {
  color: #272D4E !important;
  font-size: 18px;
  font-weight: 500;
}

.header-nav .nav-link.active,
.header-nav .nav-link:hover {
  color: #7854F7 !important;
}

.header-intro {
  max-width: 1510px;
}

.header-title {
  color: #272D4E;
  font-size: 85px;
  font-family: 'Circular Std', sans-serif;
  font-weight: bold;
  line-height: 95px;
}

.header-text {
  color: #94A2B3;
  font-size: 18px;
  line-height: 25px;
}

.header .btn-ink {
  padding: 25px 63px;
}

.header-img {
  top: 180px;
  right: 0;
  z-index: 1;
  overflow: hidden;
}

/* FEATURES */
.features {
  max-width: 1500px;
  padding: 70px 0 165px;
}

.features-img {
  filter: drop-shadow(0 20px 10px rgba(119, 84, 247, 0.05));
}

.features-title {
  color: #272D4E;
  font-size: 36px;
  font-family: 'Circular Std', sans-serif;
  font-weight: bold;
  line-height: 70px;
}

.features-text {
  color: #94A2B3;
  font-size: 18px;
  line-height: 30px;
}

/* BLOG */
.blog {
  background: url(../img/blog/blog-bg.png) no-repeat;
  padding: 100px 0 185px;
}

.blog-bg {
  position: absolute;
  top: -10px;
  right: 0;
  z-index: 0;
}

.blog .row:first-child {
  margin-bottom: 155px;
}

.blog-img-top {
  max-width: none;
  position: absolute;
  top: -160px;
  z-index: 1;
}

.blog-img-bottom {
  max-width: none;
  position: absolute;
  top: -70px;
  z-index: 1;
}

.blog-title {
  font-size: 36px;
  font-family: 'Circular Std', sans-serif;
  line-height: 46px;
  margin-bottom: 13px;
}

.blog-text {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 40px;
}

.blog .btn-green {
  padding: 22px 26px;
}

/* TESTIMONIALS */
.testimonials {
  background: linear-gradient(180deg, rgba(236, 240, 253, 0) 0%,
  rgba(236, 240, 253, 0.53) 14.32%, #ECF0FD 45.83%,
  rgba(236, 240, 253, 0.43) 84.33%, rgba(236, 240, 253, 0) 100%);
  padding: 225px 0 350px;
}

.testimonials-bg {
  position: absolute;
  top: 280px;
  left: 75px;
}

.testimonials-box {
  max-width: 730px;
  z-index: 3;
  margin-top: 100px;
}

.testimonials-card {
  background: url(../img/apostrophe.png) center 28px no-repeat;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 18px 53px rgba(215, 228, 249, 0.5);
  -moz-box-shadow: 0px 18px 53px rgba(215, 228, 249, 0.5);
  box-shadow: 0px 18px 53px rgba(215, 228, 249, 0.5);
  border-radius: 20px;
  padding: 106px 82px 87px;
}

.testimonials-card-sm {
  position: absolute;
  top: 46px;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  z-index: -1;
}

.testimonials-card-xs {
  position: absolute;
  top: 86px;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  z-index: -2;
}

.testimonials-text {
  color: #94A2B3;
  font-size: 26.7px;
  font-family: 'Circular Std', sans-serif;
  text-align: center;
  line-height: 39px;
}

.text-fade {
  -webkit-animation-name: text-fade;
  -webkit-animation-duration: 1.5s;
  animation-name: text-fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes text-fade {
  from {opacity: .1} 
  to {opacity: 1}
}

@keyframes text-fade {
  from {opacity: .1} 
  to {opacity: 1}
}

.testimonials-slider {
  margin: 90px 110px 0 0;
}

.testimonials-al {
  opacity: 0.3;
  -webkit-transform: rotate(180deg) scale(0.6);
  -ms-transform: rotate(180deg) scale(0.6);
  transform: rotate(180deg) scale(0.6);
  margin-top: 1px;
}

.testimonials-al:hover {
  opacity: 1;
  -webkit-transform: rotate(180deg) scale(1);
  -ms-transform: rotate(180deg) scale(1);
  transform: rotate(180deg) scale(1);
}

.testimonials-ar {
  opacity: 0.3;
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
}

.testimonials-ar:hover {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/* PEOPLE */
.people {
  background: url(../img/people/people-bg-shape.png) center bottom no-repeat,
  url(../img/people/people-bg-dot.png) 70px bottom no-repeat;
}

.people-text {
  color: #94A2B3;
  font-size: 18px;
  line-height: 25px;
  margin-top: 31px;
}

/* GET STARTED */
.get-started {
  background: #5F37EF;
  padding: 78px 310px 78px 460px;
}

.get-started-text {
  color: #FFFFFF;
  font-size: 36px;
  line-height: 52px;
  margin-right: 67px;
}

/* FOOTER */
.footer {
  background: #7854F7;
  padding-top: 50px;
}

.footer img + span {
  font-size: 20px;
}

.footer-logo {
  margin-top: 140px;
}

.footer hr {
  background: #9A7DFF;
  margin: 56px 0 45px;
}

.footer h5 {
  font-size: 14px;
  font-weight: bold;
}

.footer-nav {
  margin-right: 138px;
}

.footer-nav .nav-link {
  color: #FFFFFF;
  font-size: 12px;
  line-height: 24px;
  padding: 0;
}

.footer-nav .nav-link:hover {
  text-decoration: underline;
}

.footer-copy {
  color: #272D4E;
  font-size: 12px;
  background: #FFFFFF;
  padding: 25px 0;
}

.footer-copy a {
  color: #272D4E;
  font-size: 20px;
}

.footer-copy a:hover {
  color: #7854F7;
}
